#bottombar-menu {
  display: flex;
  justify-content: space-around;
  height: 100%;
  .bottom-menu-list {
    padding: 0 10px;
    margin: 0;
    flex-grow: 1;
  }
  li {
    padding: 0;
    margin: 0 auto;
    &:first-child {
      margin: 0;
      padding: 0;
      justify-content: center !important;
    }
    &.bottom-menu-list {
      h6 {
        text-align: center;
        color: #7a78a2;
      }
      h1 {
        text-align: center;
        margin: -24px 0 -7px;
        color: white;
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  #bottombar-menu {
    width: 764px;
  }
}
@media screen and (max-width: 320px) {
  #bottombar-menu {
    li.bottom-menu-list {
      h6 {
        text-align: center;
        font-size: 9px;
      }
      h1 {
        text-align: center;
        font-size: 20px;
        margin-top: -18px;
      }
    }
    margin-top: -6px;
  }
}

@media screen and (max-width: 768px) {
  #bottombar-menu {
    li.bottom-menu-list {
      h6 {
        margin-top: 12px;
      }
      h1 {
        text-align: center;
        font-size: 25px;
        margin-top: -18px;
      }
    }
    margin-top: 1px;
  }
}

.main-menu {
  position: absolute;
  display: block;
  width: 98%;
  height: 74px;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  ul {
    position: relative;
    display: inline-block;
    width: auto;
    margin: 0px;
    padding: 0px;
    list-style: none;
    overflow: hidden;
    float: left;
    li {
      display: inline-block;
      margin: 0px;
      padding: 10px 20px;
    }
  }
}