.SlideIn-appear {
  transform: translateY(30px);
  opacity: 0;
}
.SlideIn-appear.SlideIn-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.6s linear;
}
.SlideIn-enter {
  opacity: 0;
  transform: translateY(30px);
}
.SlideIn-enter.SlideIn-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.2s linear 0.4s;
}
.SlideIn-leave {
  opacity: 1.0;
  transform: translateY(0);
}
.SlideIn-leave.SlideIn-leave-active {
  opacity: 0;
  position: absolute;
  width: 100%;
  transform: translateY(-30px);
  transition: all 0.2s linear;
}