.pool-list ul>li{
    padding: 10px;
    background-color: #f3f3f3;
    margin: 20px 0px;
}
.yet-to-buy{
    background-color: red !important;
}
.bought{
    background-color: green !important;
}

.product-list{
    display: flex;
}

.product-list .products-list{
    width: 100%;
}

.products-list ul{
    width: 100%;
    overflow-y: scroll;
    height: 324px;
}

.products-list h2{
    text-align: center;
}

@media screen and (max-width: 425px){
    .tab li{
        width: 100%;
    }

    .product-list {
        display: -ms-flexbox;
        display: block;
    }
}

.tabs_item.farmerBank-request{
    padding: 30px;
}


.tabs_item .fund {
    display: inline;
    position: relative;
    width: 100%;
    font-size: 80px;
    font-weight: bold;
}

.farmer-admin{
    display: flex;
}

.farmer-admin  button.farmer-admin-btn-1{
    background-color: red;
    margin: 0 2px;
}

.farmer-admin button.farmer-admin-btn-2 {
    background-color: green;
    margin: 0 2px;
}

@media screen and (max-width: 445px) {
    .tabs_item .fund {
        font-size: 46px !important;
    }


    .farmer-admin{
        display: block;
    }

    .farmer-admin  button.farmer-admin-btn-1{
        margin: 2px 0;
    }

    .farmer-admin button.farmer-admin-btn-2 {
        margin: 2px 0;
    }

}