.pool-list ul > li {
	padding: 10px;
	background-color: #f3f3f3;
	margin: 20px 0px;
}
.yet-to-buy {
	background-color: red !important;
}
.bought {
	background-color: green !important;
}

.product-list {
	display: flex;
}

.product-list .products-list {
	width: 100%;
}

.products-list ul {
	width: 100%;
	overflow-y: scroll;
	height: 95%;
}

.products-list h2 {
	text-align: center;
}

@media screen and (max-width: 425px) {
	.tab li {
		width: 100%;
	}

	.product-list {
		display: -ms-flexbox;
		display: block;
	}

	.products-list ul {
		width: 100%;
		overflow-y: scroll;
		height: 324px;
	}
}

.tabs_item.farmerBank-request {
}

.tabs_item .fund {
	display: inline;
	position: relative;
	width: 100%;
	font-size: 80px;
	font-weight: bold;
}

.farmer-admin {
	display: flex;
}

.farmer-admin button.farmer-admin-btn-1 {
	background-color: red;
	margin: 0 2px;
}

.farmer-admin button.farmer-admin-btn-2 {
	background-color: green;
	margin: 0 2px;
}

input[name='panel'] {
	display: none;
}

.service-label {
	display: block;
	padding: 0.8em;
	width: 100%;
	height: 46px;
	border-bottom: 0.1em solid hsla(244, 15%, 22%, 0.31);
	background: hsl(244, 14%, 35%);
	color: hsl(0, 100%, 100%);
	text-transform: uppercase;
	font-size: 21px;
	line-height: 13px;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.service-label:hover {
	background: hsl(244, 15%, 22%);
}

.collapsible {
	display: block;
	padding: 0 1em;
	width: 100%;
	background: hsl(0, 1%, 90%);
}

input[name='panel'] + .collapsible {
	overflow: hidden;
	height: 0;
	transition: height 0.2s ease;
}

input[name='panel']:checked + .collapsible {
	overflow: auto;
	height: 147px;
	padding: 10px 15px;
}

input[name='panel']:checked + .collapsible.loan {
	overflow: auto;
	height: 232px;
	padding: 10px 15px;
}

input[name='panel']:checked + .collapsible.loan-pay {
	overflow: auto;
	height: 91px;
	padding: 10px 15px;
}

@media screen and (max-width: 445px) {
	.tabs_item .fund {
		font-size: 46px !important;
	}
	.service-label {
		font-size: 15px;
		line-height: 25px;
	}
	codepen .farmer-admin {
		display: block;
	}

	.farmer-admin button.farmer-admin-btn-1 {
		margin: 2px 0;
	}

	.farmer-admin button.farmer-admin-btn-2 {
		margin: 2px 0;
	}
}

ul.history {
	height: 370px;
}

ul.history li {
	padding: 10px;
	background-color: #f3f3f3;
	margin: 20px 0px;
	position: relative;
}

.arrowHash {
	margin-top: -11px;
	position: absolute;
	top: -12px;
	left: 50%;
	font-size: 18px;
}

.info .block-details {
	overflow-y: scroll;
	width: 100%;
	text-align: center;
}

.info .block-details::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgb(244, 243, 243) !important;
	border-radius: 1px;
	display: none;
}

.info .block-details::-webkit-scrollbar {
	width: 0.1px;
	height: 1px;
	background-color: transparent;
}

.info .block-details::-webkit-scrollbar-thumb {
	border-radius: 1px;
	-webkit-box-shadow: inset 0 0 6px rgb(244, 243, 243) !important;
	background-color: rgb(244, 243, 243);
}
