@import url(https://fonts.googleapis.com/css?family=Roboto:300);@import url(https://fonts.googleapis.com/css?family=Oswald);* {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  /*You just need this if you are only concerned with android and not desktop browsers.*/
  -webkit-tap-highlight-color: transparent; }
  *:before, *:after {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    /*You just need this if you are only concerned with android and not desktop browsers.*/
    -webkit-tap-highlight-color: transparent; }

body {
  margin: 0;
  font-family: Arial;
  background-color: #313042;
  position: relative;
  overflow-y: hidden; }

.box {
  color: #fff;
  padding: 1em;
  text-align: center; }

.app-layout {
  position: relative; }

.header, .dashboard {
  background-color: #f5f9fc; }

.bottombar {
  background-color: #313042; }

.sidebar {
  background-color: #313042;
  width: 250px;
  height: 100vh;
  position: absolute;
  z-index: 1;
  transition: all 0.5s ease; }

.login-sidebar {
  width: 100%;
  background-size: cover; }

.main-layout {
  display: grid;
  height: 100vh;
  width: calc(100% - 250px);
  margin-left: 250px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "header" "dashboard";
  transition: all 0.5s ease; }

@media screen and (max-width: 768px) {
  .sidebar {
    margin-left: -250px; }
  .login-sidebar {
    margin-left: 0px; }
  .main-layout {
    display: grid;
    height: calc(100vh - 82px);
    width: calc(100% - 0px);
    margin-left: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "dashboard" "bottombar"; }
  .dashboard {
    grid-area: dashboard;
    padding: 0 1em;
    overflow-y: scroll; }
  .bottombar {
    display: block !important;
    width: 100vw;
    margin-bottom: calc(100vh - 113vh);
    padding: 6px; } }

.sidebar {
  grid-area: sidebar; }

.header {
  grid-area: header;
  color: #333;
  border-bottom: 1px solid #f2f2f2;
  position: relative;
  box-shadow: 0px -5px 16px #000; }

.bottombar {
  grid-area: bottombar;
  color: #fff;
  display: none; }

.dashboard {
  grid-area: dashboard;
  padding: 0 1em;
  overflow-x: scroll; }

.swal-overlay {
  background-color: rgba(49, 48, 66, 0.45); }

#bottombar-menu {
  display: flex;
  justify-content: space-around; }
  #bottombar-menu .bottom-menu-list {
    padding: 0 10px;
    margin: 0;
    flex-grow: 1; }
  #bottombar-menu li {
    padding: 0;
    margin: 0 auto; }
    #bottombar-menu li:first-child {
      margin: 0;
      padding: 0;
      justify-content: center !important; }
    #bottombar-menu li.bottom-menu-list h6 {
      text-align: center;
      color: #7a78a2; }
    #bottombar-menu li.bottom-menu-list h1 {
      text-align: center;
      margin: -24px 0 -7px;
      color: white; }

@media screen and (max-width: 320px) {
  #bottombar-menu {
    margin-top: -6px; }
    #bottombar-menu li.bottom-menu-list h6 {
      text-align: center;
      font-size: 9px; }
    #bottombar-menu li.bottom-menu-list h1 {
      text-align: center;
      font-size: 20px;
      margin-top: -18px; } }

@media screen and (max-width: 768px) {
  #bottombar-menu {
    margin-top: 1px; }
    #bottombar-menu li.bottom-menu-list h6 {
      margin-top: 12px; }
    #bottombar-menu li.bottom-menu-list h1 {
      text-align: center;
      font-size: 25px;
      margin-top: -18px; } }

form {
  display: block; }

.form {
  z-index: 15;
  position: relative;
  background: #FFFFFF;
  width: 600px;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 100px auto 10px;
  overflow: hidden;
  border-radius: 6px 0 0 6px;
  display: none; }

.remove-form {
  animation: login-now .3s reverse forwards; }

.enter-form {
  animation: login-now .3s linear forwards; }

@keyframes login-now {
  0% {
    opacity: 0;
    transform: translateY(-400px); }
  50% {
    transform: translateY(40px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@media screen and (max-width: 425px) {
  .form {
    width: 82vw; }
  .form-panel {
    padding: 59px calc(-11% + 60px) 73px 23px !important; }
    .form-panel.two {
      padding: 59px calc(-6% + 102px) calc(-8% + 60px) 39px !important;
      left: 86% !important;
      top: -69px !important; } }

@media screen and (max-width: 638px) {
  .form {
    width: 82vw; }
  .form-panel {
    padding: 59px calc(-8% + 93px) 73px 23px !important; }
    .form-panel.two {
      padding: 59px calc(-6% + 102px) calc(-8% + 60px) 39px !important;
      left: 90% !important;
      top: -35px !important; } }

.form-header h1 {
  padding: 4px 0;
  color: #3a385a;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left; }

.form-panel {
  padding: 60px calc(5% + 60px) 73px 60px;
  box-sizing: border-box; }

.form-group label {
  display: block;
  margin: 0 0 10px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .2em;
  text-align: left; }

.form-group input {
  outline: none;
  display: block;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  color: rgba(0, 0, 0, 0.6);
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin: 0 0 10px 0; }

.form-group .form-remember input[type='checkbox'] {
  display: inline-block;
  width: auto;
  margin: 0 10px 0 0; }

.form-group .form-recovery {
  color: #4285F4;
  font-size: 12px;
  text-decoration: none; }

.form-group button {
  outline: none;
  background: #3a385a;
  width: 100%;
  border: 0;
  border-radius: 4px;
  margin-top: 43px;
  padding: 12px 20px;
  color: #FFFFFF;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  text-transform: uppercase;
  cursor: pointer; }

.form-panel.two {
  z-index: 5;
  position: absolute;
  left: 90%;
  background: #3a385a;
  width: 111%;
  min-height: 135%;
  padding: 60px calc(10% + 60px) 60px 60px;
  transition: 0.3s ease;
  cursor: pointer;
  transform: scale(0.9);
  top: -36px; }
  .form-panel.two:hover {
    left: 88% !important; }
  .form-panel.two.show {
    left: 0% !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.two .form-header h1 {
  position: relative;
  z-index: 40;
  color: #FFFFFF;
  font-size: 1.3rem; }

.two .form-group label {
  color: #FFFFFF; }

.two .form-group input {
  color: rgba(255, 255, 255, 0.8); }

.two .form-group button {
  background: #FFFFFF;
  color: #3a385a;
  margin-top: 10px; }

.form-toggle {
  /* z-index: 10; */
  position: absolute;
  right: 10%;
  background: #FFFFFF;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  cursor: pointer; }
  .form-toggle::before {
    content: '';
    width: 14px;
    height: 2px;
    position: absolute;
    background: #3a385a;
    transform: translate(-50%, -50%) rotate(45deg);
    top: 9px; }
  .form-toggle::after {
    content: '';
    width: 14px;
    height: 2px;
    position: absolute;
    background: #3a385a;
    transform: translate(-50%, -50%) rotate(-45deg);
    top: 9px; }

.login {
  color: #bb1414;
  width: 100%;
  height: 11px;
  margin-top: 15px; }

.signUp {
  color: #ca8686;
  width: 100%;
  height: 11px;
  margin-top: 15px; }

.error {
  animation: bounce 1s linear; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0); }
  40% {
    transform: translateX(-30px); }
  60% {
    transform: translateX(-15px); } }

.wrapper {
  padding: 100px; }

.image--cover {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: -67px;
  object-fit: cover;
  object-position: center right;
  border: 2px #fff solid;
  opacity: 0; }

#name {
  opacity: 0;
  margin-top: -10px; }

#accountNo {
  opacity: 0;
  margin-top: -12px; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

li.menu-list {
  padding-right: 25px;
  font-size: 16px;
  opacity: 0; }

.menu-list-item {
  text-align: right; }
  .menu-list-item h6 {
    margin-top: 10px;
    color: #7a78a2 !important; }
  .menu-list-item h1 {
    margin-top: -28px; }

.logOut {
  border: none;
  background-color: #21212d;
  color: wheat;
  border-radius: 21px;
  padding: 5px;
  width: 223px;
  transition: all 0.2s ease-in;
  outline: none;
  opacity: 0;
  position: absolute;
  bottom: 0;
  margin: 10px 0 25px -118px; }
  .logOut:hover {
    background-color: #fff;
    color: black; }
  .logOut:active {
    transform: translateY(2px); }

.SlideIn-appear {
  transform: translateY(30px);
  opacity: 0; }

.SlideIn-appear.SlideIn-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.6s linear; }

.SlideIn-enter {
  opacity: 0;
  transform: translateY(30px); }

.SlideIn-enter.SlideIn-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.2s linear 0.4s; }

.SlideIn-leave {
  opacity: 1.0;
  transform: translateY(0); }

.SlideIn-leave.SlideIn-leave-active {
  opacity: 0;
  position: absolute;
  width: 100%;
  transform: translateY(-30px);
  transition: all 0.2s linear; }

.tab {
  padding-top: 25px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  width: 99%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color: #888;
  -webkit-font-smoothing: antialiased; }

.tabs {
  display: table;
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%; }
  .tabs li {
    float: left;
    line-height: 38px;
    overflow: hidden;
    padding: 0;
    position: relative; }
  .tabs a {
    background-color: #eff0f2;
    border-bottom: 1px solid #fff;
    color: #888;
    font-weight: 500;
    display: block;
    letter-spacing: 0;
    outline: none;
    padding: 0 20px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

.tabs_item {
  display: none;
  padding: 15px;
  background: white; }
  .tabs_item h4 {
    font-weight: bold;
    color: blue;
    font-size: 20px; }
  .tabs_item:first-child {
    display: block; }

.current a {
  color: #fff;
  background: blue; }

input, select {
  border: none;
  background: #d2d2d2;
  width: 100%;
  height: 39px;
  border-radius: 5px;
  outline: 0;
  padding: 10px;
  margin-bottom: 20px; }

label {
  display: block;
  text-align: left; }

.btn {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-size: 18px;
  padding: 0px;
  width: 200px;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s linear 0s;
  background-color: #3268fb;
  height: 41px;
  outline: 0;
  border: none; }
  .btn.btn-effect {
    transition: all 0.2s linear 0s;
    background-color: #3268fb; }
    .btn.btn-effect:before {
      content: "\F178";
      font-family: FontAwesome;
      font-size: 15px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 0;
      top: 0;
      opacity: 0;
      height: 100%;
      width: 40px;
      transition: all 0.2s linear 0s; }
    .btn.btn-effect:hover {
      text-indent: -20px; }
      .btn.btn-effect:hover:before {
        opacity: 1;
        text-indent: 0px; }

.btn-pool {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-size: 18px;
  padding: 0px;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s linear 0s;
  background-color: #3268fb;
  height: 41px;
  outline: 0;
  border: none; }
  .btn-pool.btn-effect {
    transition: all 0.2s linear 0s;
    background-color: #3268fb; }
    .btn-pool.btn-effect:before {
      content: "\F178";
      font-family: FontAwesome;
      font-size: 15px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 0;
      top: 0;
      opacity: 0;
      height: 100%;
      width: 40px;
      transition: all 0.2s linear 0s; }
    .btn-pool.btn-effect:hover {
      text-indent: -20px; }
      .btn-pool.btn-effect:hover:before {
        opacity: 1;
        text-indent: 0px; }

.tabs_item {
  height: 80vh;
  overflow-y: scroll; }
  .tabs_item .info {
    display: inline;
    position: relative;
    width: 100%; }
    .tabs_item .info .name {
      color: #333333;
      font-size: 20px;
      font-weight: 600;
      text-align: left;
      display: flex;
      justify-content: space-between; }
      .tabs_item .info .name .type {
        color: #ffff;
        background: #3268fb;
        width: 100px;
        height: 20px;
        line-height: 2;
        margin-top: 5px;
        float: left;
        border-radius: 2px;
        text-align: center;
        top: -24px;
        right: 0;
        font-size: 10px;
        font-weight: 600; }
  .tabs_item .details {
    text-align: left; }

.pool-list ul > li {
  padding: 10px;
  background-color: #f3f3f3;
  margin: 20px; }

@media screen and (max-width: 463px) {
  .tab li {
    width: 100%; } }

.tabs_item.pool-request {
  padding: 30px; }

.card-list {
  display: flex;
  padding: 80px 0 0 0;
  flex-flow: nowrap;
  justify-content: space-around; }
  .card-list .card-list-item {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    width: 350px;
    margin-top: 0;
    padding: 0;
    border-radius: 5px;
    cursor: pointer; }
    .card-list .card-list-item .card {
      transition: all 0.5s ease;
      width: 100%;
      height: 400px;
      padding: 14px;
      margin-top: 17px;
      font-family: 'Oswald', sans-serif;
      background: #ffffff;
      color: #5b5e66;
      box-shadow: 2px 3px 23px #d4d4d4;
      border-radius: 5px; }

@media screen and (max-width: 425px) {
  .card-list {
    flex-flow: row wrap;
    padding: 10px 0 0 0; } }

@media screen and (max-width: 768px) {
  .card-list {
    display: block;
    padding: 10px 0 0 0; }
    .card-list .card-list-item {
      width: 100%; } }

@media screen and (min-width: 1024px) {
  .card-list {
    display: flex; }
    .card-list .card-list-item .card {
      width: 95%; }
    .card-list .card-list-item:hover {
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      margin-top: -8px; } }

.tabs_item.pool-request {
  padding: 30px; }

.user-pool-list li {
  padding: 11px;
  margin: 10px 0px;
  background: #f4f3f3; }

.user-type {
  color: #ffff;
  background: green;
  width: 100px;
  height: 20px;
  line-height: 2;
  margin: 3px 1px;
  border-radius: 2px;
  text-align: center;
  top: -24px;
  right: 0;
  font-size: 10px;
  font-weight: 600; }

.tabs_item .user-info {
  display: inline;
  position: relative; }

.accepted-user-list {
  display: flex; }

.yet-to-buy {
  background-color: red !important; }

.bought {
  background-color: green !important; }

.product-list {
  display: flex; }
  .product-list .products-list {
    width: 100%; }

.products-list ul {
  width: 100%;
  overflow-y: scroll;
  padding: 0 10px;
  background: white;
  margin-top: -25px;
  height: 64vh; }

.products-list h2 {
  text-align: center; }

@media screen and (max-width: 425px) {
  .tab li {
    width: 100%; }
  .product-list {
    display: -ms-flexbox;
    display: block; }
  .products-list ul {
    height: 320px !important; } }

.tabs_item.product-request {
  padding: 30px; }

.product-user-list li {
  padding: 11px;
  margin: 10px 0px;
  background: #f4f3f3; }

.tabs_item .info .name .product-user {
  color: #ffff;
  background: #3268fb;
  width: 156px;
  height: 20px;
  line-height: 2;
  margin-top: 5px;
  float: left;
  border-radius: 2px;
  text-align: center;
  top: -24px;
  right: 0;
  font-size: 10px;
  font-weight: 600; }

.btn-pool.btn-effect:disabled {
  opacity: 0.5;
  cursor: not-allowed; }

.buying-list {
  display: flex; }
  .buying-list button.btn-1 {
    margin: 0 2px 0 0; }
  .buying-list button.btn-2 {
    margin: 0 0 0 2px; }
  .buying-list button.remove-from-list {
    background-color: red; }

@media screen and (max-width: 426px) {
  .buying-list {
    display: block !important; }
    .buying-list button.btn-1 {
      margin: 0 2px 4px 0; } }

.pool-list ul > li.transaction-list {
  padding: 10px;
  background-color: #f3f3f3;
  margin: 20px 0px;
  text-align: left;
  font-family: monospace !important;
  font-weight: bold;
  color: #2d2d2d; }

.pool-list ul > li {
  padding: 10px;
  background-color: #f3f3f3;
  margin: 20px 0px; }

.yet-to-buy {
  background-color: red !important; }

.bought {
  background-color: green !important; }

.product-list {
  display: flex; }
  .product-list .products-list {
    width: 100%; }

.products-list ul {
  width: 100%;
  overflow-y: scroll;
  height: 324px; }

.products-list h2 {
  text-align: center; }

@media screen and (max-width: 425px) {
  .tab li {
    width: 100%; }
  .product-list {
    display: -ms-flexbox;
    display: block; } }

.tabs_item.farmerBank-request {
  padding: 30px; }

.tabs_item .fund {
  display: inline;
  position: relative;
  width: 100%;
  font-size: 80px;
  font-weight: bold; }

.farmer-admin {
  display: flex; }
  .farmer-admin button.farmer-admin-btn-1 {
    background-color: red;
    margin: 0 2px; }
  .farmer-admin button.farmer-admin-btn-2 {
    background-color: green;
    margin: 0 2px; }

@media screen and (max-width: 445px) {
  .tabs_item .fund {
    font-size: 46px !important; }
  .farmer-admin {
    display: block; }
    .farmer-admin button.farmer-admin-btn-1, .farmer-admin button.farmer-admin-btn-2 {
      margin: 2px 0; } }
