form {
    display: block;
}

.form {
    z-index: 15;
    position: relative;
    background: #FFFFFF;
    width: 600px;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 100px auto 10px;
    overflow: hidden;
    border-radius: 6px 0 0 6px;
}

.remove-form{
    animation: login-now .3s reverse forwards; 
}

@keyframes login-now {
    0% {
        opacity: 0;
        transform: translateY(-400px);
    }

    50% {
        transform: translateY(40px);
    }
 
    100% {
        opacity: 1;
        transform : translateY(0);
    }
}


@media screen and (max-width: 425px) {
    .form {
        width: 82vw;       
    }
    .form-panel {
        padding: 59px calc(-11% + 60px) 73px 23px !important;
      
    }
    .form-panel.two {
        padding: 59px calc(-6% + 102px) calc(-8% + 60px) 39px !important;
        left: 86% !important;
        top: -69px !important;      
    }
 }

  @media screen and (max-width: 638px) {
    .form {
        width: 82vw;       
    }
    .form-panel {
        padding: 59px calc(-8% + 93px) 73px 23px !important;
      
    }
    .form-panel.two {
        padding: 59px calc(-6% + 102px) calc(-8% + 60px) 39px !important;
        left: 90% !important;
        top: -47px !important;
      
    }
    
  }

.form-header h1 {
    padding: 4px 0;
    color: #3a385a;;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
}

.form-panel {
    padding: 60px calc(5% + 60px) 73px 60px;
    box-sizing: border-box;
}

.form-group label {
    display: block;
    margin: 0 0 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .2em;
    text-align: left;
}

.form-group input {
    outline: none;
    display: block;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.6);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    margin: 0 0 10px 0;
}

.form-group .form-remember input[type='checkbox'] {
    display: inline-block;
    width: auto;
    margin: 0 10px 0 0;
}

.form-group .form-recovery {
    color: #4285F4;
    font-size: 12px;
    text-decoration: none;
}

.form-group button {
    outline: none;
    background: #3a385a;;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: #FFFFFF;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;
}

.form-panel.two {
    z-index: 5;
    position: absolute;
    top: -52px;
    left: 90%;
    background: #3a385a;
    width: 111%;
    min-height: 100%;
    padding: 60px calc(10% + 60px) 60px 60px;
    transition: 0.3s ease;
    cursor: pointer;
    transform: scale(0.9);
}

.form-panel.two:hover {  
    left: 88% !important;   
}


.form-panel.two.show{
    left:0% !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;       
}

.two .form-header h1 {
    position: relative;
    z-index: 40;
    color: #FFFFFF;
    font-size: 1.3rem;
}

.two .form-group label {
    color: #FFFFFF;
}

.form-group input {  
    color: rgba(255, 255, 255, .8);
   
}

.two .form-group button {
    background: #FFFFFF;
    color: #3a385a;
    margin-top: 10px;
}

.form-toggle{
        /* z-index: 10; */
        position: absolute;
        right: 10%;
        background: #FFFFFF;
        width: 18px;
        height: 18px;
        border-radius: 100%;   
        cursor: pointer;    
}
.form-toggle::before{
    content: '';
    width: 14px;
    height: 2px;
    position: absolute;
    background:#3a385a;
    transform: translate(-50%, -50%) rotate(45deg);
    top: 9px;
}

.form-toggle::after{
    content: '';
    width: 14px;
    height: 2px;
    position: absolute;
    background:#3a385a;
    transform: translate(-50%, -50%) rotate(-45deg);
    top: 9px;
}




