.wrapper {
    padding: 100px;
}

.image--cover {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: -67px;
    object-fit: cover;
    object-position: center right;
    border: 2px #fff solid;
    opacity: 0;
}

#name{
    opacity: 0;
    margin-top: -10px;
}

#accountNo{
    opacity: 0;
    margin-top: -12px;
}

.menu{

}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

li.menu-list{
    padding-right: 25px;
    font-size: 16px;
    opacity: 0;
}

.menu-list-item{
    text-align: right;

}

.menu-list-item h6{
    margin-top: 10px;
    color: #7a78a2 !important;
}

.menu-list-item h1{
    margin-top: -28px;
}

.logOut{
    border: none;
    background-color: #21212d;
    color: wheat;
    border-radius: 21px;
    padding: 5px;
    width: 100%;
    transition: all 0.2s ease-in;
    outline: none;
    opacity: 0;
}

.logOut:hover{
    background-color: #fff;
    color: black;
}

.logOut:active{
    transform: translateY(2px);
}