@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.tab {
    padding-top: 25px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    width: 99%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-weight: 300;
    color: #888;
    -webkit-font-smoothing: antialiased;
}

.tabs {
    display: table;
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 100%;
}
.tabs li {
    float: left;
    line-height: 38px;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.tabs a {
    background-color: #eff0f2;
    border-bottom: 1px solid #fff;
    color: #888;
    font-weight: 500;
    display: block;
    letter-spacing: 0;
    outline: none;
    padding: 0 20px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.tabs_item {
    display: none;
    padding: 15px;
    background: white;
}
.tabs_item h4 {
    font-weight: bold;
    color: blue;
    font-size: 20px;
}
.tabs_item:first-child {
    display: block;
}

.current a {
    color: #fff;
    background: blue;
}

input, select {
    border: none;
    background: #d2d2d2;
    width: 100%;
    height: 39px;
    border-radius: 5px;
    outline: 0;
    padding: 10px;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
}

.btn {
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    padding: 0px;
    width: 200px;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s linear 0s;
    background-color: #3268fb;
    height: 41px;
    outline: 0;
    border: none;
}
.btn.btn-effect {
    transition: all 0.2s linear 0s;
    background-color: #3268fb;
}
.btn.btn-effect:before {
    content: "\f178";
    font-family: FontAwesome;
    font-size: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 40px;
    transition: all 0.2s linear 0s;
}
.btn.btn-effect:hover {
    text-indent: -20px;
}
.btn.btn-effect:hover:before {
    opacity: 1;
    text-indent: 0px;
}

.btn-pool {
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    padding: 0px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s linear 0s;
    background-color: #3268fb;
    height: 41px;
    outline: 0;
    border: none;
}
.btn-pool.btn-effect {
    transition: all 0.2s linear 0s;
    background-color: #3268fb;
}
.btn-pool.btn-effect:before {
    content: "\f178";
    font-family: FontAwesome;
    font-size: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 40px;
    transition: all 0.2s linear 0s;
}
.btn-pool.btn-effect:hover {
    text-indent: -20px;
}
.btn-pool.btn-effect:hover:before {
    opacity: 1;
    text-indent: 0px;
}

.tabs_item {
    height: 80vh;
    overflow-y: scroll;
}
.tabs_item .info {
    display: inline;
    position: relative;
    width: 100%;
}
.tabs_item .info .name {
    color: #333333;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.tabs_item .info .name .type {
    color: #ffff;
    background: #3268fb;
    width: 100px;
    height: 20px;
    line-height: 2;
    margin-top: 5px;
    float: left;
    border-radius: 2px;
    text-align: center;
    top: -24px;
    right: 0;
    font-size: 10px;
    font-weight: 600;
}
.tabs_item .details {
    text-align: left;
}



@media screen and (max-width: 463px) {
    .tab li {
        width: 100%;
    }
}
.tabs_item.pool-request {
    padding: 30px;
}
