.yet-to-buy{
    background-color: red !important;
}
.bought{
    background-color: green !important;
}

.product-list{
    display: flex;
}

.product-list .products-list{
    width: 100%;
}

.products-list ul{
    width: 100%;
    overflow-y: scroll;
    padding: 0 10px;
    background: white;
    margin-top: -27px;
    height: 370px;
}

.products-list h2{
    text-align: center;
}

@media screen and (max-width: 425px){
    .tab li{
        width: 100%;
    }

    .product-list {
        display: -ms-flexbox;
        display: block;
    }
}

.tabs_item.product-request{
    padding: 30px;
}