*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  background-color: #f2f2f2;
}

.box {
  color: #fff;
  padding: 1em;
  text-align: center;
}

.header     { background-color: #ffffff; }
.sidebar   { background-color: #0c033e; }
.dashboard   { background-color: #ffffff; }

.app-layout {
  display: grid;
  height: 100vh;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;

  grid-template-areas: "sidebar header"
                       "sidebar dashboard"                      
}

@media screen and (max-width: 1024px) {
  .app-layout {
                          
  }
}

.sidebar {
  grid-area: sidebar;
}

.header {
  grid-area: header;
  color: #333;
  border-bottom: 1px solid #f2f2f2;
}

.dashboard {
  grid-area: dashboard;
  padding: 0 1em;
  overflow-y: scroll;
}
